.para1{
    color:red;
}
#div-1{
    background-color: aqua;
    font-size: x-small;

}
.header1{
    color: green;
}
body{
    background-color: aqua;
}

@media only screen and (max-width: 600px ) {
   #body-1 {
        background-color: green;
    }
}



@media only screen and (max-width: 1000px) {
    #p-1{
        background-color: yellow;
    }
}

@media only screen and (max-width: 600px) {
    #p-1{
        background-color: blue;
    }
}

@media only screen and (min-width: 1001px) {
    #p-1{
        background-color: black;
    }
}
/*#p-1{*/
/*    background-color: blue;*/
/*}*/