p{color: brown; font-size: xx-large}
#h-1{text-align: center; border: dotted}
body{background-color: beige}
.purple{color: purple}
td{border:double;align-content: center;text-align: center}
table{margin-left: auto;margin-right: auto; width: 50%}
.red{color: red}
#tr-2{color: purple}
@media only screen and (max-height: 600px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (max-height: 600px) {

    table{
        width:100%
    }

}
